<div class="banner-container">
  <img
    src="https://images.pexels.com/photos/18760211/pexels-photo-18760211.jpeg"
    class="banner-img"
    alt="banner"
  />
  <div class="banner-content">
    <p><%= title%></p>
    <div class="input-group mb-3">
      <span class="input-group-text bi bi-card-image dropdown">

      </span>
      <input
        type="text"
        class="form-control"
        aria-label="Amount (to the nearest dollar)"
      />
      <span class="input-group-text bi bi-search"></span>
    </div>

    <p style="font-size: 10px;">
      <span style="font-size: 10px; color: rgb(188, 188, 188)">Trending:</span>
      Nature, dark, motivational, halloween, flowers
      <i
        class="bi bi-three-dots dots"
      ></i>
    </p>
  </div>
  <p class="editor-details"><span style="font-weight: 700; font-size: 10px; color: rgba(188, 188, 188, 0.51)">Photo by</span> Rodion Kutsaiev</p>
</div>

