 <!--  __________________Navbar Section_________________  -->

    <!--  ____________Logo___________  -->

    <nav class="nav" style="background-color: black;">
        <div class="logo-container">
          <a href="/"><img
              src="/images/logo.jpg"
              class="rounded mx-2"
              width="30"
              height="30"
              alt="logo"
            /></a>
          <span class="logo-title">Pexels</span>
        </div>
        <div class="menu">
  
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon">
              <i class="bi bi-list text-light"></i>
            </span>
          </button>
  
        </div>
  
        <!--  ____________Mobile Navigation Part__________  -->
        <div class="menu nav-container collapse navbar-collapse" id="navbarText" >
         
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width: 100%;height: 105vh;">
            <hr />
            <li class="nav-item">
              Home
            </li>
            <li class="nav-item">
              Discover Photos
            </li>
            <li class="nav-item">
              Popular Searches
            </li>
            <li class="nav-item">
              Free Videos
            </li>
            <li class="nav-item">
              Challenges
            </li>
            <li class="nav-item">
              Leaderboard
            </li>
            <li class="nav-item">
              Pixel Blog
            </li>
            <hr/>
  
            <li class="nav-item">
              Your Profile
            </li>
            <li class="nav-item">
              Change Language
            </li>
            <li class="nav-item">
              Upload
            </li>
            <li class="nav-item">
              License
            </li>
            <li class="nav-item">
              Settings
            </li>
            <li class="nav-item">
              Logout
            </li>
  
            <hr />
  
            <li class="nav-item">
              Apps &amp; Plugins
            </li>
            <li class="nav-item">
              FAQ
            </li>
            <li class="nav-item">
              About Us
            </li>
            <li class="nav-item">
              Imprint &amp; Terms
            </li>
            <li class="socialmedia-icons">
              <span class="bi bi-facebook"></span>
              <span class="bi bi-twitter"></span>
              <span class="bi bi-instagram"></span>
              <span class="bi bi-pinterest"></span>
              <span class="bi bi-youtube"></span>
            </li>
          </ul>
        
        </div>
  
        <div class="sub-container">
  
          <!--  ________________Dropdown__________________  -->
  
          <div class="dropdown">
            <li
              class="text text-light px-3 dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >Explore
            </li>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li class="dropdown-item">Discover Photos</li>
              <li class="dropdown-item">Popular Searches</li>
              <li class="dropdown-item">Leaderboard</li>
              <li class="dropdown-item">Challenges</li>
              <li class="dropdown-item">Free Videos</li>
              <li class="dropdown-item">Pexels Blog</li>
            </ul>
          </div>
  
          <!-- _____________License_____________  -->
         
          <li class="text text-light px-3">License</li>
  
          <!--  ____________Notification______________ -->
          <i class="text bi bi-bell px-3"></i>
  
          <!--  ____________Avatar______________  -->
  
          <div class="dropdown">
            <i
              class="avatar"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >V</i>
  
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <div style="margin-bottom: 3rem;">
              <li class="dropdown-item">Your Profile</li>
              <li class="dropdown-item">Your Collections</li>
              <li class="dropdown-item">Settings</li>
              <li class="dropdown-item">Change Language</li>
              <li class="dropdown-item">Logout</li>
              <li class="dropdown-item">Images and Video API</li>
              <li class="dropdown-item">Apps and Plugins</li>
              <li class="dropdown-item">FAQ</li>
              <li class="dropdown-item">Partnership</li>
              <li class="dropdown-item">Imprint and Terms</li>
            </div>
              <li class="socialmedia-icons">
                <span class="bi bi-facebook"></span>
                <span class="bi bi-twitter"></span>
                <span class="bi bi-instagram"></span>
                <span class="bi bi-pinterest"></span>
                <span class="bi bi-youtube"></span>
              </li>
            </ul>
          </div>
  
        </div>
  
      </nav>